
@{
    ViewBag.Title = "addNews";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
@using sjth.Model;
@model newst
<pages validaterequest="false" enableeventvalidation="false">
    <link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="~/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="~/kindeditor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="~/kindeditor/plugins/code/prettify.js"></script>
    <script>
        KindEditor.ready(function (K) {
            var editor1 = K.create('#contenttext', {
                cssPath: '../../kindeditor/plugins/code/prettify.css',
                uploadJson: '../../kindeditor/asp.net/upload_json.ashx',
                fileManagerJson: '../../kindeditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterCreate: function () {
                    var self = this;
                    K.ctrl(document, 13, function () {
                        self.sync();
                        K('form[name=example]')[0].submit();
                    });
                    K.ctrl(self.edit.doc, 13, function () {
                        self.sync();
                        K('form[name=example]')[0].submit();
                    });
                }
            });
           
            prettyPrint();
        });
    </script>
    <div class="header">
        <h1 class="page-header">
            新闻添加 <small>The news added</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">新闻管理</a></li>
            <li class="active">新闻添加</li>
           
        </ol>

    </div>
    @using (Html.BeginForm())
    {
        <div id="page-inner">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="sub-title">发布类别</div>
                            @Html.HiddenFor(x=>x.id)
                            <div>
                                @Html.DropDownList("newstype", ViewBag.selecttype as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:150px" })
                            </div>
                            <div class="sub-title">新闻标题</div>
                            <div>
                                @Html.TextBoxFor(x => x.headline, new { @class = "form-control", placeholder = "请输入新闻标题", style = "width:250px" })
                            </div>
                            <div class="sub-title">新闻关键词用_隔开</div>
                            <div>
                                @Html.TextBoxFor(x => x.newstkeywords, new { @class = "form-control", placeholder = "请输入新闻关键词", style = "width:550px" })
                            </div>
                            <div class="sub-title">新闻描述</div>
                            <div>
                                @Html.TextBoxFor(x => x.newstdescription, new { @class = "form-control", placeholder = "请输入新闻描述", style = "width:250px" })
                            </div>
                            <div class="sub-title">新闻内容</div>
                            <div>
                                @Html.TextAreaFor(x => x.contenttext, new { @class = "form-control", @cols = "100", rows = "8", style = "width:700px;height:500px;" })
                            </div>
                            <div class="sub-title"></div>
                            <button type="submit" class="btn btn-default">提交</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

